input {
    border-style: none;
}
button {
    border-style: none;
}
#login_contain {
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 700px;
    padding-top: 45px;
}
#login {
    background-color: rgba(255, 255, 255, 0.75);
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    display: block;
}
.line3px {
    border:1px solid rgb(0, 0, 0);
}
#email {
    width: 250px;
    height: 30px;
    margin: 30px 0 10px 0;
    border-radius: 5px;
}
.pw {
    width: 250px;
    height: 30px;
    margin: 10px 0;
    border-radius: 5px;
}
#login_btn2 {
    width: 250px;
    height: 40px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(75, 75, 75, 0.75);
    color: white;
}
#checkbox {
    width: 200px;
    margin-left: 160px;
    margin-top: 10px;
}
#signup_btn2 {
    width: 250px;
    height: 40px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(75, 75, 75, 0.75);
    color: white;
}